body {
  font-family: "Poppins", sans-serif;
}

/* Toolbar Start */
.toolbar .toolbar-left {
  display: flex;
  gap: 10px;
}

.toolbar #button-search {
  width: 100px;
  font-weight: 500;
}

.toolbar .toolbar-right #btn-show-form-daftar {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
/* Toolbar End */

#list-karyawan {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#btn-show-data,
#btn-delete-data {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

thead {
  background-color: #482121;
  color: #fff;
}

th {
  font-weight: 500;
}
.th-nama {
  width: 40%;
  text-align: left;
}
.th-noktp {
  width: 40%;
  text-align: left;
}
.th-action {
  width: 15%;
  text-align: center;
}

td,
th {
  padding: 15px;
}

td {
  padding: 20px;
}

tr:nth-child(even) {
  background-color: #d6e8db;
}

/* Form Daftar Start */
#form-daftar {
  position: absolute;
  top: 9%;
  right: 34%;
  width: 550px;
  display: none;
}

#btn-close-form-daftar,
#btn-add-data {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#btn-close-form-daftar,
#btn-add-data:hover {
  background-color: transparent;
}

#div-add-nama {
  margin-top: -10px;
  margin-bottom: -20px;
}
#notification {
  display: none;
  position: absolute;
}
#notification-edit {
  display: none;
  position: absolute;
}
/* Form Daftar End */

/* Form Edit Start */
#form-edit {
  position: absolute;
  top: 9%;
  right: 34%;
  width: 550px;
  display: none;
}
#div-edit-nama {
  margin-top: -10px;
  margin-bottom: -20px;
}
/* Form Edit End */

/* Confirmation Start */
#confirmation {
  position: absolute;
  top: 15%;
  right: 34%;
  width: 550px;
  display: none;
}

#btn-cancel-delete,
#btn-delete {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
/* Confirmation End */

/* Media Query */
@media (max-width: 1366px) {
  #app {
    padding: 70px 30px;
  }
}
